---
import PageHeader from "./elements/PageHeader.astro"
---

<section id="contact">
    <PageHeader title="Contact" number="3."/>
</section>

<style>
section {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 2rem;
    color: #ffffff;
    margin: 0;
}
</style>