---
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Navbar from '../components/shared/Navbar.astro';
import Background from '../components/shared/Background.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
---

<Background />
<Navbar />
<div id="container">
  <Hero />
  <About />
  <Projects />
  <Contact />
  <Footer />
</div>

<style>
body {
  background-color: #0b0b2b;
  color: #ccd6f6;
  margin: 0;
}
#container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4rem;
  box-sizing: border-box;
  min-height: 100vh;
}
@media (max-width: 768px) {
  #container { padding: 0 1.5rem; }
}
</style>

<script is:inline>
  const updateMousePosition = (e) => {
    document.body.style.setProperty('--mouse-x', `${e.clientX}px`);
    document.body.style.setProperty('--mouse-y', `${e.clientY}px`);
  };
  window.addEventListener('mousemove', updateMousePosition);
</script>